@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family:Montserrat ;
}

.Faqs{
    margin: 20px;
}
.accordionHeader{
   display: flex;
   justify-content: space-between;
   width: 100%;
   background-color: #000435;
   padding: 20px;
   color: white;
   font-size: 1.3rem;
}
.text{
    font-size: 5rem;
}
.answerContainer {
    max-height: 0;
    overflow: hidden;
  
}
.fa-chevron-up{
    padding-top: 20px;
}
.active {
    max-height: 300px;
    overflow: none;
    transition: .5s all ease-in;
    /* line-height: 40px; */
}
.activeIcon{
    transform: rotateX(180deg);
    transition: .5s all ease-in;
    margin-bottom: 10px;
    font-size: 1rem;
}
@media only  screen and (max-width:768px) {
    .active{
        max-height: 300px;
        overflow-y:visible;
        transition: .5s all ease-in;
        line-height: 20px;
    }
    .answerContainer p{
        padding: 8px;
    }
}