@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family:Montserrat ;
}

.footerImg{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    margin: 20px;
}
.footerLogoText{
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 10px;
}
.footext1{
    color: white;
    font-size: 1rem;
    margin: 10px;
}
.foExt{
    color: white;
    font-size: 1rem;
    margin: 10px;
}
.activityUpperTExt {
     color: white;
     color: white;
     font-size: 1.5rem;
     letter-spacing: 2px;
     text-transform: capitalize;
     margin: 20px;
}
.inner{
    margin: 20px;
}
 .activtiyp {
    color: white;
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 10px;
 }
.footer{
     background-color:#000435;
     display: flex;
     justify-content: space-around;
     padding: 30px;
}
@media only  screen and (max-width:768px){
    .footer{
        background-color:#000435;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    
   } 
   .activites{
     width: 100%;
     text-align: center;
     margin: 10px;
   }
   .firtsCont{
    width: 100%;
    text-align: center;
   }
}