@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family:Montserrat ;
}
.MissionContainer{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns:repeat(3 ,1fr);
}

.MissionUpperText{
   color: #002387;
   text-align: center;
   font-size: 3rem;
   font-weight: bolder;
   padding: 20px;
   text-transform: uppercase;
   background-color: whitesmoke;
}
.gridUpperText{
     font-size: 2rem;
     font-weight: 400;
     text-transform: capitalize;
     padding: 10px;
     text-align: center;
     color:white;
}
.gridInnerText{
     padding-top: 10px;
    text-align: justify;
    letter-spacing: 2px;
    color: white;
}
.GridBox{
     margin: 20px;
     padding: 20px;
     box-shadow: 2px 2px 10px .2px black;
     border-radius: 10px;
     background-image: linear-gradient( to left top, rgba(0, 0, 0, 0.692),#001487ad), url('./src/assets/mosque.avif');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}

@media only screen and (max-width:768px) {
    .MissionContainer{
        display:flex;
        justify-content: space-between;
       flex-wrap: wrap;
    }
    .GridBox{
        background-color:white;
        margin: 20px;
        padding: 20px;
        box-shadow: 2px 2px 10px .2px black;
        border-radius: 10px;
        width: 100%;
   }
}