@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family:Montserrat ;
}
.Vision{
    display: flex;
    justify-content:space-around;
    background-color:whitesmoke;

}
.visionSideTExt{
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 2px 10px .2px black;
    border-radius: 10px;
    background-image: linear-gradient( to left top, rgba(0, 0, 0, 0.692),#001487ad), url('./src/assets/adnan.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.visionSideTExt p{
     color: white;
     text-align: justify;
     padding: 10px;
}
.Vision h3{
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    padding: 10px;
    text-align: center;
    color: white;
}
#KAtib{
    flex-grow: 50px;
   }
@media only screen and (max-width:768px) {
    .Vision{
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;
    } 
}